@font-face
	font-family: 'Ubuntu'
	font-weight: normal
	font-style: normal
	src: url('fonts/ubuntu/Ubuntu-Light.ttf') format 'truetype'

@font-face
	font-family: 'Ubuntu'
	font-weight: normal
	font-style: italic
	src: url('fonts/ubuntu/Ubuntu-LightItalic.ttf') format 'truetype'

@font-face
	font-family: 'Ubuntu'
	font-weight: bold
	font-style: normal
	src: url('fonts/ubuntu/Ubuntu-Medium.ttf') format 'truetype'
	
