@font-face
	font-family 'Ubuntu'
	font-weight 300
	font-style normal
	src url('fonts/ubuntu/Ubuntu-Light.ttf') format 'truetype'

@font-face
	font-family 'Ubuntu'
	font-weight 300
	font-style italic
	src url('fonts/ubuntu/Ubuntu-LightItalic.ttf') format 'truetype'

@font-face
	font-family 'Ubuntu'
	font-weight 500
	font-style normal
	src url('fonts/ubuntu/Ubuntu-Medium.ttf') format 'truetype'
	
